@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import 'tailwindcss';

html {
	font-size: 125%;
} /* 125% of 16px = 20px */

body {
	font-family: 'Lato', sans-serif;
	color: #1040b0;
	margin: 0;
	padding: 0;
	overflow-x: hidden; /* Prevent horizontal scrolling */
}

a {
	color: #1040b0;
}

button {
	text-align: left;
}

ul {
	list-style-type: disc;
	list-style-position: inside;
	text-indent: -1.4em;
	padding-left: 1.4em;
	font-size: 1.1rem;
	line-height: 26px;
}

.lora {
	font-family: 'Lora', serif;
	font-weight: regular;
	font-style: italic;
}

.marquee-text {
	font-style: italic;
	text-transform: uppercase;
	font-weight: 350;
}

.image-container {
	border-bottom-width: 1px;
	border-color: #1040b0;
}

.full-width-image {
	display: flex; /* Use flexbox */
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	width: 100%; /* Full width of the container */
	object-fit: cover;
	max-height: 120vh;
	overflow: hidden;
	border-top-width: 1px;
	border-color: #1040b0;
}

.full-image-stroke {
	display: flex; /* Use flexbox */
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	width: 100%; /* Full width of the container */
	object-fit: cover;
	max-height: 120vh;
	overflow: hidden;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: #1040b0;
}

.image-row {
	width: 100%; /* Full width of the container */
	display: flex; /* Enable flexbox layout */
	justify-content: space-between; /* Distribute space between images */
	border-top-width: 1px;
	border-color: #1040b0;
}

.row-image {
	width: 33.333333vw;
	height: auto; /* Maintain aspect ratio */
	object-fit: cover; /* Ensure the image covers its area */
}

.middle-image {
	border-left-width: 1px;
	border-right-width: 1px;
	border-color: #1040b0;
}

.right-image {
	border-left-width: 1px;
	border-color: #1040b0;
}

.pair-image {
	width: 50vw;
	height: auto; /* Maintain aspect ratio */
	object-fit: cover; /* Ensure the image covers its area */
}
